<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Signup for Voting!">
        <meta name="author" content="SNathJr">

        <title>Signup for Voter Portal</title>

        <link rel="icon" href="/static/vote-small.ico" type="image/x-icon" sizes="16x16">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="/static/vote-logo.ico" width="35" height="35" class="d-inline-block align-top" alt="logo">
                </a>
                <form action="{{ url_for('login') }}" class="form-inline">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                </form>
            </nav>
            <br>
            <form class="container col-md-8 col-lg-6">
                <div class="alert alert-primary text-center" role="alert">
                    Let us get you a voter ID.
                </div>
                <div class="form-group row">
                    <div class="col">
                        <input type="text" id="firstname" name="firstname" class="form-control" placeholder="first name" required>
                    </div>
                    <div class="col">
                        <input type="text" id="middlename" name="firstname" class="form-control" placeholder="middle name">
                    </div>
                    <div class="col">
                        <input type="text" id="lastname" name="firstname" class="form-control" placeholder="last name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="sr-only">Email: </label>
                    <input type="email" id="email" name="emailid" class="form-control" placeholder="email@email.com" required>
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password: </label>
                    <input type="password" id="password" name="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="password" required>
                </div>
                <div class="form-group">
                    <label for="repassword" class="sr-only">Password: </label>
                    <input type="password" id="repassword" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="retype password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up!</button>
                <div class="form-group text-center">
                    <br>
                    <small>Have an account already? <a href="{{ url_for('login') }}">Login</a> instead.</small>
                </div>
            </form>
        </div>

        <!-- Script to validate reentered password -->
        <script>
            var password = document.getElementById("password")
              , repassword = document.getElementById("repassword");

            function validatePassword(){
              if(password.value != repassword.value) {
                repassword.setCustomValidity("Passwords Don't Match");
              } else {
                repassword.setCustomValidity('');
              }
            }

            password.onchange = validatePassword;
            repassword.onkeyup = validatePassword;
        </script>
    </body>
</html>